
@{
    ViewData["Title"] = "Notificações";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<center>
    <p style=" font-family: 'Montserrat'; font-weight: bold ">Consulte as suas notificações relativas a alugueres:</p>
</center>
<p> </p>
<p> </p>

<center>
    <button class="btn border-primary btn-login-large btn-outline-primary" style="        margin: 5px
">
        @Html.ActionLink("Pedidos de Alugueres ", "AluguerPedidos")
    </button>

    <button class="btn border-primary btn-login-large btn-outline-primary" style="margin:5px">
        @Html.ActionLink("Respostas de Alugueres", "AluguerRespostas")
    </button>
</center>