
@{
    ViewData["Title"] = "Notificações";
}

<h1>Historico</h1>

<center>
    <button class="myButton">
        @Html.ActionLink("Pedidos de Alugueres ", "AluguerPedidos")
    </button>
    <button class="myButton">
        @Html.ActionLink("Respostas de Alugueres", "AluguerRespostas")
    </button>
</center>