
@{
    ViewData["Title"] = "Notificações";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<center>
    <b>Consulte as suas notificações relativas a alugueres:</b>
</center>
<p> </p>
<p> </p>

<center>
    <button class="myButton">
        @Html.ActionLink("Pedidos de Alugueres ", "AluguerPedidos")
    </button>
    <button class="myButton">
        @Html.ActionLink("Respostas de Alugueres", "AluguerRespostas")
    </button>
</center>