@model WebApplication1.Models.Artigo
@{
    ViewBag.Title = "Denunciar Artigo";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!DOCTYPE html>
<html>
<style>
    html * {
        font-family: Montserrat;
    }
</style>
<head>


</head>
<body>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">


                <form asp-action="AddDenunciar" asp-controllers="Utilizador" method="POST" enctype="multipart/form-data">

                    <div class="form-group">
                        <!-- Nome input-->

                        <div>
                            <label for="IdArtigo"></label>
                            <input type="hidden" name="IdArtigo" value="@Model.IdArtigo" />
                        </div>

                        <div>
                            <center>
                                <label for="Descricao">Insira a sua denúncia:</label>
                            </center>
                            <br />
                            <div>
                                <textarea id="Descricao" name="Descricao" typeof="text" class="form-control input-md" required="" rows="10"></textarea>

                            </div>

                        </div>

                        <br />

                        <!-- Button (Double) -->

                            <div class="col-md-8">
                                <button type="submit" id="save" name="save" class="btn border-primary btn-login btn-outline-primary" style="position: relative ; left:75px">Enviar a minha denúncia</button>
                            </div>
                    </div>



                </form>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>
    </div>
</body>
</html>






