
@{
    ViewData["Title"] = "ErrorSearch";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

    <head>
        @section NotId {
            <li>
                <a href="@Url.Action("AluguerInfo", "Utilizador")">
                    <span class="glyphicon glyphicon-bell "></span>
                    Notificações
                    @{
                        int n = (int)@ViewData["noti"];
                        if (n > 0)
                        {

                            <span class="badge">@n</span>
                        }
                    }
                </a>
            </li>
        }
    </head>

Não foi encontrado nenhum item correspondente à sua pesquisa.
<p></p>
<button>@Html.ActionLink("Voltar à página inicial", "Index")</button>


