
@{
    ViewData["Title"] = "Sem resultados";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

    <head>
        @section NotId {
            <li>
                <a href="@Url.Action("AluguerInfo", "Utilizador")">
                    <span class="glyphicon glyphicon-bell "></span>
                    Notificações
                    @{
                        int n = (int)@ViewData["noti"];
                        if (n > 0)
                        {

                            <span class="badge" style="background-color: #138AB2">@n</span>
                        }
                    }
                </a>
            </li>
        }
        <style>
            html * {
                font-family: Montserrat;
            }
        </style>
    </head>

<br />
<br />
<center>
    <div style="color:#555555; font-size:16px; font-weight:bold;">
        <b>Não foi encontrado nenhum item correspondente à pesquisa.</b>
    </div>
</center>
<br />
<br />
<center>
    <a href='@Url.Action("Index", "Utilizador")' class="btn btn-login-large newArtB" style="font-weight: 700; font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; border-color: rgb(17, 112, 158); ">
       Voltar à página inicial.
    </a>
</center>
<br />
<br />

