
@{
    ViewData["Title"] = "Historico";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


    <head>
        @section NotId {
            <li>
                <a href="@Url.Action("AluguerInfo", "Utilizador")">
                    <span class="glyphicon glyphicon-bell "></span>
                    Notificações
                    @{
                        int n = (int)@ViewData["noti"];
                        if (n > 0)
                        {

                            <span class="badge">@n</span>
                        }
                    }
                </a>
            </li>
        }
    </head>

<center>
<b>Consulte os seus históricos:</b>
</center>
<p> </p>
<p> </p>

    <center>
        <button>
            @Html.ActionLink("Historico de Alugueres", "HAlugueres")
        </button>
        <button>
            @Html.ActionLink("Historico de Compras", "HVendas")
        </button>
    </center>