
@{
    ViewData["Title"] = "Historico";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<center>
<b>Consulte os seus históricos:</b>
</center>
<p> </p>
<p> </p>

    <center>
        <button>
            @Html.ActionLink("Historico de Alugueres", "HAlugueres")
        </button>
        <button>
            @Html.ActionLink("Historico de Compras", "HVendas")
        </button>
    </center>