
@{
    ViewData["Title"] = "Historico";
}

<h1>Historico</h1>

    <center>
        <button class="myButton">
            @Html.ActionLink("Historico de Alugueres", "HAlugueres")
        </button>
        <button class="myButton">
            @Html.ActionLink("Historico de Compras", "HVendas")
        </button>
    </center>