@model WebApplication1.Models.Utilizador
@{
    ViewBag.Title = "Novo Artigo";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
    <link rel="icon" href="~/icon.ico">
</head>
<body>
    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">


                @if (!@User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("NovoProduto", "Utilizador", FormMethod.Post))
                    {

                        @Html.ValidationSummary(true)
                        <form>

                            <!-- Text input-->
                            <div class="form-group">
                                <label for="Nome"> <b>Nome</b></label>
                                <div>
                                    <input id="Nome" name="Nome" type="text" class="form-control input-md" required="">

                                </div>

                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label for="preço"> <b>Preço (€)</b> </label>
                                <div>
                                    <input id="Preco" name="Preco" type="text" class="form-control input-md" required="">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label for="Modo"><b>Modo </b>(alugar/vender)</label>
                                <div>
                                    <input id="Modo" name="Modo" type="text" class="form-control input-md" required="">

                                </div>
                            </div>


                            <!-- Password input-->
                            <div>
                                <label for="Quantidade"><b>Quantidade</b></label>
                                <div>
                                    <input id="Quantidade" name="Quantidade" type="text" placeholder="" class="form-control input-md" required="">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div>
                                <label for="Categoria"><b>Categoria</b></label>
                                <div>
                                    <input id="Categoria" name="Categoria" type="text" placeholder="" class="form-control input-md" required="">

                                </div>
                            </div>

                            <!-- tipo input-->
                            <div>
                                <label for="Etiquetas"><b>Etiquetas</b></label>
                                <div>
                                    <input id="Etiquetas" name="Etiquetas" type="text" placeholder="" class="form-control input-md" required="">

                                </div>
                            </div>

                            <!-- Button (Double) -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="save"></label>
                                <div class="col-md-8">
                                    <button id="save" name="save" class="btn btn-default">Inserir</button>
                                </div>
                            </div>


                        </form>
                    }
                }

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>
    </div>
</body>
</html>

