
@model WebApplication1.Models.Utilizador

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">

</head>
<body>
    <br>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">

                                <div style="color:rgb(220, 20, 60); font-family:Montserrat; font-weight:bold">
                                    @Html.ValidationSummary(true, "O login foi mal sucedido!")
                                </div>
                                <h3 class="login-heading mb-4">Olá de novo!</h3>
                                <!-- form start -->

                                @if (!@User.Identity.IsAuthenticated)
                                {
                                    using (Html.BeginForm("Login", "Conta", FormMethod.Post))
                                    {
                                        <form>
                                            <div class="form-label-group">
                                                <input type="text" name="email" class="form-control" id="email" placeholder="E-mail" required autofocus>
                                                <label for="Email"><b>E-mail</b></label>
                                            </div>

                                            <div class="form-label-group">
                                                <input type="password" name="Password" class="form-control" id="inputPassword" placeholder="Password" required>
                                                <label for="Password"><b>Password</b></label>
                                            </div>

                                            <div class="custom-control custom-checkbox mb-3">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">Lembrar Password</label>
                                            </div>
                                            <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" style="outline: none" type="submit">Entrar</button>
                                            <div class="text-center">
                                                <a class="small" href="@Url.Action("Forgot", "Conta")">Esqueceu-se da password?</a>
                                            </div>
                                        </form>
                                        <!-- form end -->
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</body>
</html>



