@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";

    string str = (string)@ViewData["User_Name"];
}

@{
    ViewBag.Title = "Sobre nós";
}


<!--Historia-->
<section class="page-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Sobre Nós</h2>
                <h3 class="section-subheading text-muted">Conheça a historia e a equipa.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/Images/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2020</h4>
                                <h4 class="subheading">De Onde Somos</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Estudantes da universidade do Minho situada em Braga Portugal!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/Images/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2020</h4>
                                <h4 class="subheading">Area de Apredizagem</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Somos estudantes de Engenharia Informática</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/Images/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Fevereiro de 2020</h4>
                                <h4 class="subheading">Contextualização</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"> Este website está a ser construído por nós no ambito da Univade Curricular de Laboratórios de Informática 4 e deu inicio em Fevereiro de 2020</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/Images/4.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Junho de 2020</h4>
                                <h4 class="subheading">Objetivos</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"> Contrução de um website que permitar a vend e aluguer dos mais variados itens!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Be Part
                                <br>Of Our
                                <br>Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--Equipa-->
<section class="bg-light page-section" id="team">
    <div class="container">
        <div class="form-row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">A Nossa Equipa</h2>
                <h3 class="section-subheading text-muted">Conheça as pessoas por de trás do website</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Images/catarina.png" alt="">
                    <h4>Ana Catarina Gil</h4>
                    <p class="text-muted">BackEnd</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Images/mags.png" alt="">
                    <h4>Ana Margarida Campos</h4>
                    <p class="text-muted">BackEnd</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Images/tania.jpg" alt="">
                    <h4>Tânia Rocha</h4>
                    <p class="text-muted">FrontEnd</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Images/joana.png" alt="">
                    <h4>Joana Afonso Gomess</h4>
                    <p class="text-muted">FrontEnd</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="~/Images/pedro.png" alt="">
                <h4>Pedro Fernandes</h4>
                <p class="text-muted">BackEnd</p>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="Esperemos que disfrute do nosso website."</p>
            </div>
        </div>
    </div>
</section>

