@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";

    string str = (string)@ViewData["User_Name"];
}

@{
    ViewBag.Title = "Contactos";
}

<!DOCTYPE HTML>
<html xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn-skin.prettylittlething.com/frontend/prettylittlething/_root/styles/css/contact-styles-1593524758.min.css" media="all" />
    @section NotId {
        <li>
            <a href="@Url.Action("AluguerInfo", "Utilizador")">
                <span class="glyphicon glyphicon-bell "></span>
                Notificações
                @{
                    int n = (int)@ViewData["noti"];
                    if (n > 0)
                    {

                        <span class="badge" style="background-color: #138AB2">@n</span>
                    }
                }
            </a>
        </li>
    }

</head>

<body class=" cms-page-view plt-update default-gbp cms-faq">

    <div class="remodal-bg">


        <main class="main">
            <div class="container">

                <div class="main__content">


                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>

                    <div class="std">
                        <div class="page-title faq-page-title">
                            <h1>
                                FAQ! Precisa de Ajuda?
                            </h1>
                            <h2>
                                Tem a nossa total atenção!
                            </h2>
                        </div>




                        <style>

                            .faq-contact-block ul li.contact {
                                display: block;
                                margin-top: 20px;
                            }
                        </style>
                        <div class="faq-contact-block" style="
    background-color: #337ab759;
">
                            <p>
                                Entre em contacto com a nossa equipa através de <b> rentitallofficial@gmail.com </b><br>
                            </p>
                            <ul>
                                <li class="contact" style="background-color: #17a2b800;">
                                    <a>
                                        <span> </span>
                                    </a>
                                </li>
                                <li class="contact">
                                    <a>
                                        <i class="fa fa-envelope-o fa-2x"></i>
                                        <span>Envie-nos um E-mail</span>
                                    </a>
                                </li>
                                <li class="contact" style="background-color: #17a2b800;">
                                    <a>
                                        <span></span>
                                    </a>
                                </li>

                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </main>
        <p></p>
        <p></p>
        <p></p>

</body>
</html>
ction>
