@model WebApplication1.Models.Utilizador

@{
    ViewBag.Title = "Novo Artigo";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}


<!DOCTYPE html>
<html>

<head>
    @section NotId {
        <li>
            <a href="@Url.Action("AluguerPedidos", "Company")">
                <span class="glyphicon glyphicon-bell "></span>
                Notificações
                @{
                    int n = (int)@ViewData["noti"];
                    if (n > 0)
                    {

                        <span class="badge" style="background-color: #138AB2">@n</span>
                    }
                }
            </a>
        </li>
    }
    <style>
        html * {
            font-family: Montserrat;
        }
    </style>
</head>
<body>
    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">




                @Html.ValidationSummary(true)
                <form asp-action="NovoArtigo" asp-controllers="Company" method="POST" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="Nome"> <b>Nome</b></label>
                        <div>
                            <input id="Nome" name="Nome" type="text" class="form-control input-md" required="">
                        </div>

                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label for="preço"> <b>Preço (€)</b> </label>
                        <div>
                            <input id="Preco" name="Preco" type="text" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <label for="Modo"><b>Modo:</b></label>
                    <select id="Modo" name="Modo" type="text" class="form-control input-md" required="" style="height:inherit">
                        <option value="aluguer">aluguer</option>
                        <option value="venda">venda</option>
                    </select>

                    <br />
                    <!-- Password input-->
                    <div class="form-group">
                        <label for="Quantidade"><b>Quantidade</b></label>
                        <div>
                            <input id="Quantidade" name="Quantidade" type="text" placeholder="" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <label for="Categoria"><b>Escolha uma categoria:</b></label>
                    <select id="Categoria" name="Categoria" type="text" placeholder="" class="form-control input-md" required="" style="height:inherit">
                        <option value="Roupa">Roupa</option>
                        <option value="Campismo">Campismo</option>
                        <option value="Mobiliário">Mobiliário</option>
                        <option value="Acessórios">Acessórios</option>
                        <option value="Música">Música</option>
                        <option value="Livros">Livros</option>
                        <option value="Turismo">Turismo</option>
                        <option value="Bebé e criança">Bebé e criança</option>
                        <option value="Lazer">Lazer</option>
                        <option value="Animais">Animais</option>
                        <option value="Tecnologia">Tecnologia</option>
                        <option value="Desporto">Desporto</option>
                        <option value="Carros, motos e barcos">Carros, motos e barcos</option>
                        <option value="Agricultura">Agricultura</option>
                        <option value="Equipamentos e Ferramentas">Equipamentos e Ferramentas</option>
                        <option value="Outros">Outros</option>
                    </select>

                    <br />
                    <div class="form-group">
                        <label for="Descricao"><b>Descrição</b></label>
                        <textarea id="Descricao" name="Descricao" typeof="text" class="form-control input-md" required="" rows="3"></textarea>
                    </div>



                    <!-- tipo input-->
                    <div class="form-group">
                        <label for="Etiquetas"><b>Etiquetas</b></label>
                        <div>
                            <input id="Etiquetas" name="Etiquetas" type="text" placeholder="" class="form-control input-md" required="">

                        </div>
                    </div>
                    <p></p>
                    <p></p>
                    <div class="form-group">
                        <label>Faça upload da(s) imagem(ns)</label>
                        <input type="file" id="file" name="file" class="form-control" multiple="multiple" style="border:none" />
                    </div>

                    <br />
                    <center>
                        <input type="submit" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" style="background-color:#CCDBE2; border-color:#11709E; display:inline-block; width: auto; font-size:13px; color: #11709E" value="Inserir artigo" />
                    </center>
                    <br />

                    <script>
                        document.getElementById("file").multiple = true;
                    </script>

                </form>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>

        </div>
    </div>
</body>
</html>
