@model IEnumerable<WebApplication1.Models.Utilizador>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    string str = (string)@ViewData["User_Name"];
}

<h1>Pesquisa no header</h1>