* {
    padding: 0;
    margin: 0;
    /*
	box-sizing:border-box;
	*/
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
    color: #a8323c;
    border-radius: 0;
}

.dropdown {
    list-style: none;
    display: inline-block;
    background-color: #343A40;
}

    .dropdown .nav-link {
        color: #fff;
        text-decoration: none;
        background-color: #343A40;
    }

    .dropdown .dropdown-menu a {
        color: #9A9DA0;
        background-color: #343A40;
        text-decoration: none;
    }

    .dropdown .btn {
        background: green;
        color: #fff;
    }

        .dropdown .btn:hover {
            background: cyan;
            color: #000;
        }

        .dropdown .btn:active {
            background: cyan;
            color: #000;
        }

        .dropdown .btn:focus {
            background: cyan;
            color: #000;
        }

.dropdown-menu .dropdown-item {
    display: inline-block;
    background-color: #343A40;
}

.container .dropdown .dropdown-menu a:hover {
    color: blue;
    background-color: #b91773;
    border-color: #fff;
}

.myButton {
    background-color: #D6F4FF;
    border-radius: 28px;
    border: 1px solid #D6F4FF;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #def6ff;
}

    .myButton:hover {
        background-color: #D6F4FF;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }


.navbar-text > a {
    color: #FFFFFF;
    text-decoration: none;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
    background-color: #D6F4FF !important;
    color: #000000;
    border-radius: 0;
}


.cor-texto {
    color: #8B4513;
}

/*.img {
    position: relative;
    float: left;
    width:  330px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}*/

.responsive {
    max-height: 350px;
    max-width: 300px;
    width: auto;
    height: 300px;
    border-radius: 5%;
}

body {
    /*
      */
    padding-bottom: 130px
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    /*
      padding: 25px;
      */
}
/*
    */
p {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}


@media (min-width: 768px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
}

.w3-button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.w3-black, .w3-hover-black:hover {
    color: #fff !important;
    background-color: #000 !important
}

.mySlides {
    display: none;
}

.w3-content, .w3-auto {
    margin-left: auto;
    margin-right: auto
}

.w3-content {
    max-width: 980px
}

.w3-auto {
    max-width: 1140px
}

.w3-display-container:hover .w3-display-hover {
    display: block
}

.w3-display-container:hover span.w3-display-hover {
    display: inline-block
}

.w3-display-hover {
    display: none
}