@{

}

<br><br>
        <p><b><i>RentItAll</i></b> é uma plataforma em que podes vender ou alugar todos os items que quiseres!</p>
        <p></p>
        <p></p>
        <p></p>
        <h4 style="font-size:10px"><b>Funcionários:</b></h4>
        <h4 style="font-size:10px">Ana Catarina Gil</h4>
        <h4 style="font-size:10px">Ana Margarida Campos</h4>
        <h4 style="font-size:10px">Joana Afonso Gomes</h4>
        <h4 style="font-size:10px">Pedro Fernandes</h4>
        <h4 style="font-size:10px">Tânia Rocha</h4>
    </font>

        <br><br>
